//skin header
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html {
  font-size:100%; // normally 16px
}
html, body {
  font-family: 'Oswald', sans-serif;
  color: #333;
  line-height: 1.6;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  display: block;
}
h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3.5rem;
}

h2{
  font-size: 2rem;
  font-weight: bold;
  line-height: 3.5rem;
}

$primary: #333;
$secondary:  rgb(71, 18, 156);
$basic: #fff;
$button: #3ca15e;
$label: #4b129c63;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --basic: #{$basic};
  --button: #{$button};


  // Even though this looks like a Sass variable, it's valid CSS so it's not
  // evaluated.
  --consumed-by-js: $primary;
}

.navbar {
  background: $primary;
}
.Logo {
  padding: 0px 40px;
  text-decoration: none;
}
.nav-link{
  padding: 10px;
  font-size: 20px;
}

a, button { transition: all 0.3s ease;}
a:hover:active,
a:focus {
	text-decoration: none;
  outline: none;
  font-size: 20px;
  border-bottom: solid $button;
  border-top: solid $button;
  border-radius: 10%;

}

//showcase

.showcase{
  padding: 0 30px 0 30px;
  text-align: center;

}
.bienvenido{
  text-align:center;
  color: #fff;
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

.container-showcase {
  margin: 0 auto;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(https://content.compramostucoche.es/static/car_images/escandalos-sonados-motor-634-378.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}


.btn {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 1rem;
  display: inline-block;
  line-height: 1.25rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .75rem 1.25rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;

  &.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #666;

    &:hover {
      color: #fff;
      background-color: #333;
      border-color: #666;
    }
  }
}

.brand{
  padding: 10px;
  margin: 10px;
  background: linear-gradient($basic, $button);
  border-radius: 10%;
  box-shadow: 0.1em -0.1em 0.1em;
}
