//import modules

@import "header/skin";
@import "header/introduction";
@import "button/buttons";
@import "register/login.scss";
@import "Motos/form.scss";
@import "Motos/article.scss";
@import "Motos/infoMoto.scss";
@import "Motos/types.scss";
@import "footer/footer.scss"




