//form anunce

.Post{
  background-color: rgba(128, 128, 128, 0.37);
  padding: 30px;
  margin: 10px;
}
#title-ad{
  background-color: #3ca15e;
  padding: 10px;
  margin: 20px;
  box-shadow: 5px 5px 25px #222 inset;
  border-bottom: #222;
  border-radius: 10px;

}
.form-control{
  border-bottom: solid #3ca15e;
}
.btn-ad{
  width: 100%;
}
.ad-2{
  float: left;
}
