//ficha tecnica de las motos


.titleMoto{
  text-align: center;
  color: #333;
  padding: 20px;
  background: silver;
  margin: 20px;
}

.subTitleMoto{
  text-align: center;
  color: maroon;
  padding: 20px;
  margin: 10px;
  background-color: wheat;
}
.tableHeader{
  background: #333;
  color: #f4f4f4;
  text-align: center;
  padding: 10px;
  margin: 10px;

}
