// articulos publicados e infomotos

.box{
    margin: 8px;
    border-radius: 10px;
    box-shadow: 0 1px 3px $button;
    transition: box-shadow .3s ease;
    padding: 10px;
}

.articleBox{
  color: $primary;
  margin: 20px;

}
.titleBox{
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: $primary;
}
.secondHand{
  background: #ff000073;
  padding: 5px;
  color: black;
  border-radius: 10px;
}
.labelBrand{
  background-color: #4b129c63;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
}
.labelKm{
  background-color: #a9a9a991;
  border-radius: 10px;
  border: red 2px dotted;
  padding: 5px;
  width: fit-content;
}
.labelModel{
  background-color: #ffff0082;
  border-radius: 10px;
  border: red 2px dotted;
  padding: 5px;
  width: fit-content;

}
.labelType{
  background-color: #0808081f;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;

}
.priceBox{
  margin: 10px;
  background-color: $button;
  color: #fff;
  text-align: center;
  padding: 3px 10px;
  border: $primary 3px solid;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
.moreInfo{
  background-color: $basic;
  color: $primary;
  border: solid $button;
  border-radius: 10px;
  width: 100%;
}
.imageBox,
.image{
  margin:10px auto;
  padding:13px;
  width:220px;
  height:220px;
  background-repeat:no-repeat;
  background-size: cover;
  display: flex;
  flex: 1;
}
