//login & register

.login-area {
  background: #3ca15e;
  padding: 30px;
  border: solid;
  border-radius: 20px;
}
.recover{
  padding: 10px;
}
.singin {
  padding: 10px;
}
.btn-login {
  background: gray;
  width: 100%;
  color: #f4f4f4;
}
.btn-recover {
  background: #f1da5dcc;
  width: 100%;
  color: #f4f4f4;
  text-decoration-skip-ink: none;
}
.btn-singin{
  background: #f15d64cc;
  width: 100%;
  color: #f4f4f4;
}
